/* Estilos base */
.character {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.character img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media (min-width: 901px) and (max-width: 1200px) {
    .results {
        grid-template-columns: repeat(3, 1fr); /* Cambia a tres columnas */
    }
}
