/* Estilos base */
.results {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* Establecer 5 columnas por defecto */
    gap: 20px;
}

.character {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.character img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}
